//!  Colors

$main-bg-color: #063970;
$logo-one-color: #eaff00;
$logo-seconde-color: #f8d4d4;
$rating-color: #f76429;

//!   Fonts

$reboto-font: "Roboto", sans-serif;
$shadow-font: "Shadows Into Light", cursive;
