@use "../abstracts/maxin" as *;
@use "../abstracts/varibles" as *;

.cover-content {
  position: relative;
  width: 80%;
  margin: 0px auto 100px;
  height: 50vh;

  .cover-text {
    width: 100%;
    text-align: center;
    font-family: $reboto-font;
    position: absolute;
    z-index: 3;
    color: white;
    text-shadow: 0px 0px 5px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      font-family: $reboto-font;
    }
    em {
      font-size: 15px;
    }
  }
  .img-cover {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(124, 211, 246);
    opacity: 0.5;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  .form-content {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    @include flex_center();
    z-index: 10;

    input {
      width: 70%;
      padding: 7px 20px;
      border-radius: 30px;
      border: none;
      box-shadow: 0px 0px 3px 1px;
      &::placeholder {
        font-size: 14px;
      }
    }
    .btn-search {
      box-shadow: 0px 0px 5px 1px black !important;
      border-radius: 30px !important;
      border: none !important;
      background: linear-gradient(
        to right,
        rgba(15, 255, 184, 1),
        rgba(7, 110, 112, 1)
      );
      position: absolute;
      transform: translateX(-40%);
      left: 80%;
      padding: 7px 25px;
    }
  }
}

@media screen and (max-width: 800px) {
  .cover-content {
    width: 100%;
    &::before {
      border-bottom-left-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
    }
  }
  .img-cover {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}

@media (max-width: 435px) {
  input {
    width: 90% !important;
  }
  .btn-search {
    left: 80% !important;
  }
}
