@use "../abstracts/varibles" as *;

.main-navbar {
  padding: 10px;
  background-color: $main-bg-color;
  .logo {
    background: linear-gradient(to right, $logo-one-color, $logo-seconde-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-family: $reboto-font;
  }
  .nav-menu-links {
    margin-right: 50px;
    & a.active {
      border-bottom: 2px solid red;
      border-top: 1px solid red;
      border-radius: 10px;
      color: $logo-one-color !important;
    }
  }
  .nav-menu {
    display: flex;
    margin-left: auto !important;
  }
}
.navbar-nav {
  margin-left: auto;
  .login {
    margin-left: 50px;
    width: fit-content;
    margin: 0 auto;
  }
  .nav-links {
    transition: 0.5s all;
    margin-left: 20px;
    &:hover {
      transform: scale(1.2);
      color: $logo-one-color !important;
    }
  }
}

.navToggle {
  background-color: white !important;
  outline: none !important;
  border: none !important;
}

@media (max-width: 800px) {
  .logo {
    font-size: 25px !important;
  }
  .nav-links {
    font-size: 15px !important;
  }
}
@media (max-width: 767px) {
  #basic-navbar-nav {
    position: absolute;
    top: 100%;
    background-color: #063970c8;
    z-index: 5;
    width: 100%;
    text-align: center;
    left: 0px;
    padding: 10px;
  }
}
