@use "../abstracts/maxin" as *;
@use "../abstracts/varibles" as *;

.section {
  box-shadow: 0px 0px 1px 1px;
  .content {
    @include customFlex(center, flex-start, column);
    flex-wrap: wrap;
    padding: 30px;
    .header_line {
      h1 {
        margin-bottom: 10px !important;
        font-size: 30px;
      }
    }
    .movies-content {
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      @include customFlex(center, flex-start, "");
      flex-wrap: wrap;
      gap: 20px;
      .card-movie {
        @include customFlex(center, center, column);
        position: relative;
        text-align: center;
        width: 150px;
        &:hover .movie-img img {
          transform: scale(1.04);
        }
        .movie-img {
          @include flex_center();
          flex-direction: column;
          position: relative;
          img {
            border-radius: 5px;
            padding: 5px;
            box-shadow: 0px 0px 10px 5px;
            border-bottom-right-radius: 25px;
            position: relative;
            transition: all 0.4s;
            width: 100%;
          }
        }
        .details {
          max-width: 210px;
          h3 {
            font-size: 15px;
            font-family: $reboto-font;
            margin-bottom: 10px;
            margin-top: 30px;
          }
          P {
            color: grey;
          }
        }

        .rating-movie {
          @include rounded(35px);
          background-color: $rating-color;
          @include flex_center();
          font-size: 12px;
          position: absolute;
          bottom: -20px;
          color: #fff;
          font-family: $reboto-font;
        }
      }
    }
    .btns {
      @include flex_center();
      width: 100%;
      gap: 30px;
      .current-page {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 500px) {
  .content {
    padding: 30px 0px !important;
  }
  .card-movie {
    width: 110px !important;
  }
}
